<div class="container top-spacer">
    <div class="row justify-content-center" *ngIf="!event && !errMsg">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
        {{ errMsg }}
    </div>
    <div class="row" *ngIf="event">
        <div class="col-8">
            <p class="h1">{{ event.name }}</p>
            <p>{{ event.description }}</p>
            <div class="card" style="max-width: 24rem;">
                <div class="card-header">Event details</div>
                <div class="card-body">
                    <p><strong>Date:</strong> {{ event.date | date }}</p>
                    <p><strong>Time:</strong> {{ event.date | date : 'shortTime' }}</p>
                    <p><strong>Location:</strong> {{ event.location?.name }}</p>
                    <p><strong>Cost:</strong> {{ event.entranceCost | currency }}</p>
                </div>
            </div>
        </div>
        <!-- This would be replaced with the actual widget -->
        <div class="col-4">
            <img class="widget" src="assets/img/map-mockup.png" alt="Mockup map">
            <div class="row justify-content-center mt-2">
                <a type="button" class="btn btn-primary" target="_blank"
                    href="{{ mapsUrl }}@{{ event.location.lat }},{{ event.location.lng}},15z">Open in Google Maps</a>
            </div>
            <img class="widget mt-5" src="assets/img/calendar-mockup.png" alt="Mockup calendar">
        </div>
    </div>
</div>