<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">
                        <i class="fa fa-calendar fa-lg" aria-hidden="true"></i> Events
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-comment fa-lg"></span> Forum
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-users fa-lg"></span> People
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-newspaper-o fa-lg"></span> News
                    </a>
                </li>
            </ul>

            <span class="navbar-text">
                <a [routerLink]="['/login']"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
            </span>
        </div>
    </div>
</nav>