.img-cropped {
    width: 250px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
}

.no-decoration {
    color: black;
    text-decoration: none !important;
}
