<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row justify-content-center" *ngIf="!events && !errMsg">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                {{ errMsg }}
            </div>
            <div class="row mb-4" *ngFor="let event of events">
                <div class="col-4">
                    <img class="img-cropped" src="{{ baseUrl + event.image }}" alt="">
                </div>
                <div class="col card" style="width: 18rem;">
                    <div class="card-body">
                        <a [routerLink]="['/event', event.id]"><h5 class="card-title no-decoration">{{ event.name }}</h5></a>
                        <h6 class="card-subtitle mb-2 text-muted">{{ event.date | date }}</h6>
                        <p class="card-text">{{ event.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- This would be replaced with the actual widget -->
        <img class="col-4 widget" src="assets/img/calendar-mockup.png" alt="Mockup calendar">
    </div>
</div>