<div class="container top-spacer">
    <div class="row justify-content-center">
        <div class="card col-6" style="width: 18rem;">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h5 class="card-title">Login</h5>
                </div>
                <form novalidate (submit)="onLogin()">
                    <div class="form-group">
                      <label for="email">Username</label>
                      <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="user">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="remember">
                      <label class="form-check-label" for="remember">Keep me logged in</label>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
            <div class="card-footer row justify-content-center">
                <span>You don't have an account? <a href="#">Create one</a></span>
            </div>
        </div>
    </div>
</div>